body {
    
    height: 100%;
    text-align: center;
    padding-top: 0%;
    background-size: cover;
   background-image: url( "../images/runner.jpg");
    border-image-source: 100%;

}

#stopwatch {
    text-shadow: 0 0 50px rgb(44, 9, 77);
    margin-top: 50px;
    font-size: 70px;
    
}

#button-start{
    cursor: pointer;
    background-color: gray;
    font-weight: bold;
    box-shadow: 0 0 10px blueviolet;
    height: 30px;
    width: 70px;
}

#button-stop{
    cursor: pointer;
    background-color: gray;
    font-weight: bold;
    display: none;
    box-shadow: 0 0 10px blueviolet;
    height: 30px;
    width: 70px;
}

#button-reset{
    cursor: pointer;
    background-color: gray;
    font-weight: bold;
    display: none;
    box-shadow: 0 0 10px blueviolet;
    height: 30px;
    width:70px;
}

#minutes{
    display: none;
}

#colon{
    display: none;
}

header{
    text-shadow: 0 0 10px blueviolet;
    font-size: 60px;
    background-color: rgb(241, 226, 243);
}

.container{
    box-shadow: 0 0 30px #fff, inset 0 0 10px #fff;
    color:rgb(44, 9, 77);;
    padding:30px;
    border-radius: 20px;
}

